.box{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.div{
    position: relative;
    width: 400px;
    height: 300px;
    display: flex;
}
.active{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 10px;
    
}
.inactive{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 10px;
}

.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 30px;
    z-index: 1;
    color: rgba(255, 255, 255, 0.489);
}

.left-arrow{ 
    left: 0px; 
}
.right-arrow{
    right: 0px;  
}

.circle-div{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    width: 60%;
    
    display: flex;
    justify-content: space-between;
}

.active-circle{
    color:rgba(128, 128, 128, 0.384);
}

.inactive-circle{
    color: gray;
}